html {
    font-family:helvetica;
    font-size:15px;
}

td {
    border-bottom: 1px solid rgb(0, 30, 87);
	border-top: 1px solid rgb(0, 30, 87);
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    border-collapse: collapse;
}

th {
    padding: 5px;
    text-align: center;
    vertical-align:middle;
    background-color: rgb(238, 238, 238);
	border-collapse: collapse;
	background-color: #C4C4C4;
}

table {
    border-collapse: collapse;
    margin:auto;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;  
    background-color: #ffffff; 
}

.userInput, .userInput3 {
    font-weight:bold;
    padding:1px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    text-align:center;
    font-family:helvetica;
    width: 100px;
    font-size: 0.95em;
	max-width:80%;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(194, 194, 194);
    opacity: 1; /* Firefox */
    font-weight: normal;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(194, 194, 194);
    font-weight: normal;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(194, 194, 194);
    font-weight: normal;
}

input.input-number–noSpinners {
    -moz-appearance: textfield;
    border:1px solid rgb(180, 180, 180);
    padding: 4px 0 4px 0;
}

input.input-number–noSpinners::-webkit-inner-spin-button,
input.input-number–noSpinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border:1px solid rgb(180, 180, 180);
    padding: 4px 0 4px 0;
}

input:hover{
    background-color: rgb(246, 252, 255);
    border:1px solid rgb(146, 146, 146);
}

#loanAssumptionTable{
    font-size:0.95em;
    width:500px;
    max-width:95%;
    border:2px solid #0071B3;
    margin-top:20px;
    margin-bottom:20px;
}

#planInputTable{
    width:500px;
    max-width:95%;
    border:2px solid rgb(114, 0, 129);   
}

.summaryTable {
    width:500px;
    max-width:95%;   
}

.rightAlignCell {
    text-align: right;
}

.loanTable{
    font-size:0.85em;
    width:350px;
    max-width:95%;
    margin-bottom: 25px;
}

.loanBalanceCell{
    font-weight: bold;
}

#loanDiv, #planDiv, #outputTextDiv, #summaryTableDiv, #chartDiv, #loanTableDiv {
    text-align:center;
    margin:auto;
}

#planDiv {
    margin-top: 15px;
    margin-bottom: 15px;
}

.tableHighlightRow {
    font-weight:bold;
    border-top: 2px solid #31D0CB;
    border-bottom: 2px solid #31D0CB;
}

#outputTextDiv {
    width:500px;
    max-width:95%;
    background-color:white;
    border: 2px solid rgb(0, 30, 87);
    margin-top:15px;
    margin-bottom:15px;
    box-shadow: 4px 4px 10px grey;
}

.highlightText{
    font-weight: bold;
    color: rgb(0, 121, 129);
    font-size:1.2em;
}

#addLoanButton {
    font-size: 1.2em;
	font-weight: bold;
	padding: 4px 8px 4px 8px;
	border-radius: 4px;
    display:block;
    text-align:center;
    margin:auto;
    border:2px solid #0071B3;
    color: #0071B3;
    background-color: white;
    cursor: pointer;
}

#addLoanButton:hover{
    border:2px solid #0071B3;
    color: white;
    background-color: #0071B3;    
}

#addLoanSpan {
    color: #0071B3;
    font-weight: bold;
}

#userMessageDiv {
    width:500px;
    max-width:95%;
    border: 1px dashed rgb(100, 100, 100);
    margin-top:15px;
    margin-bottom:15px;
    text-align:center;
    margin:auto;
    font-size: 1.2em;
    background-image: linear-gradient(to right top, #ebebeb, #f0f0f0, #f5f5f5, #fafafa, #ffffff);
}

#outputErrorDiv{
    width:500px;
    max-width:95%;
    background-image: linear-gradient(to right top, #ffdbdb, #fee4eb, #fbedf6, #fbf7fc, #ffffff);
    border: 2px solid #B31B20;
    padding:2%;
    margin:auto;
    text-align:center;
    font-size: 1.2em;
}

#monthlyPaymentSpan, #monthlyPaymentInput, #paymentTypeSpan {
    font-size: 1.1em;
    font-weight: bold;
}

#totalBalanceChartDiv, #loanBalanceChartDiv, #loanPaymentChartDiv {
    width:95%;
    max-width:800px;
    padding:6px;
    border: 2px solid rgb(0, 30, 87);
    background-color: white;
    position:relative;
    height:50vh;
	max-height: 600px;
    margin: auto;
	text-align: center;
    margin-top:15px;
    margin-bottom:15px;
    box-shadow: 4px 4px 10px grey;
}

.deleteIcon{
    color:#B31B20;
    cursor: pointer;
}

.loanTableTitle {
    margin-top: 2%;
}

.loanTableSymbol{
    cursor:pointer;
    font-size: 1.1em;
    font-weight: bold;
    border: 1px solid rgb(0, 121, 129);
    padding: 2px;
    color: rgb(0, 121, 129);
    margin-top:10px;
}

.hide {
    display: none;
}

#monthlyPaymentDeltaInput{
    width:60px;
    max-width:75%;
}

#customURLContainer {
    display: inline-block;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.customURLDiv {
    align-items: center; 
    vertical-align:middle;
}

#generateURLButton {
    padding: 5px;
    margin: 5px;
    background-color: white;
    color: #0099CC;
    border: 2px solid #0099CC;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    vertical-align: bottom;
}

#generateURLButton:hover {
    background-color: #008CBA;
    color: white;
}

#customURLOutput {
    border: 1px solid rgb(199, 199, 199);
    padding: 5px;
    color: rgb(73, 73, 73);
    width:200px;
    display: inline-block;
    margin: 5px;
    font-style: oblique;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    overflow-wrap: break-word;
    vertical-align: bottom;
}
