html {
    font-family:helvetica;
    font-size:15px;
}

td {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#totalBalanceChartDiv, #loanBalanceChartDiv, #loanPaymentChartDiv {
    padding:1%;
    border: 1px solid black;
    background-color: white;
    position:relative;
    height:50vh;
    width:92vw;
    max-width: 900px;
    margin: auto;
    margin-top:2%;
    margin-bottom:2%;
}

.deleteIcon{
    color:red;
    cursor: pointer;
}